# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# PyTorch / Machine Learning
*.pt
*.pth
data/
logs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store